body {
    background-color: #2d5085;
}

#cabecera{
    display: flex;
    background-color: #FFF6F6;
    text-align: center;
    margin-bottom: 75px;
}

#titulos{
    text-align: left;
    padding-top: 150px;
    padding-bottom: 180px;
    margin-left: 50px;
}



#foto{
    width: 450px;
    height: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: solid;
    border-color: #040c18;

}

.cartas{
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transition: all 0.3s ease;
    top: 0;   
}

.cartas:hover,
.cartas:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 35px;
    grid-auto-flow: row;
    grid-template-areas:
      "Experiencia Educacion"
      "Experiencia Habilidades"
      "contacto map";

    margin-left: 50px;
    margin-right: 50px;
    
    min-width: 300px;
    max-width: 400px;
  }

  #java,#JavaS{
    width: 140px;
    height: 140px;
  }
  #python{
    height: 140px;
    width: 87,5px;
  }

  #imagenEdu{
    width: 450px;
    height: 350px;
   
  }
  
  .Experiencia { grid-area: Experiencia; }
  
  .Educacion { grid-area: Educacion; }
  
  .Habilidades { grid-area: Habilidades; }
  
  .contacto { grid-area: contacto; }
  
  .map { grid-area: map; }

    #mapaInsertado{
        outline: 2px;
        width: 500px;
        height: 500px;
    }

    #listaEdu{
        line-height: 200%;
    }

    #tablaHabilidades,th,td{
        border: 1px solid black;
        
    }

    .material-icons.md-36 { font-size: 36px; }

* , *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

    /* Smartphones (portrait and landscape) ———– */
    @media only screen and (min-device-width: 300px) and (max-device-width: 550px) {
    /* Styles */
      .container{
        display: flex;  
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
      }
      .cartas{
        width: auto;
        margin: 0;

      
      }

      #imagenEdu,iframe,#mapaInsertado{
        width: 100%;
      }
      #foto{
        width: auto;
      }
      #tablaHabilidades{
        display: block;
        overflow-x: auto;
      }

      #cabecera{
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      body{
        max-width: 100vw;
      }

    }

    
    @media (min-width: 640px) { body {font-size:1rem;} }
    @media (min-width:960px) { body {font-size:1.2rem;} }
    @media (min-width:1100px) { body {font-size:1.5rem;} }

    

    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
          local('MaterialIcons-Regular'),
          url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
          url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
          url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
      }

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
      }

      