mat-toolbar {
    background-color: gray;
  }
  
  mat-toolbar button {
   background-color: gray;
   border: 0; 
  }
  
  .card-title {
    font-size: 1.5rem;
    color: black;
    line-height: normal;
    
  }
  *{
    background-color: gray;
  }

  .card img {
    width: 100%;
    
  }
  