main {
	background-image: url("src\assets\images\valorant header.png");
	background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
	height: 100vh;
	width: 100vw;
}

a{
	background-color: rgb(65, 53, 177);
	padding: 5%;
	font-size: 190%;
	font-family: trouble-sans-serif;
	border-radius: 20px;
}

