<!DOCTYPE HTML>
<html>
    <head>
        <title> CURRICULUM VITAE </title>
        <link type="text/css" rel='stylesheet' href='/stylesheets/proyecto.css' />
    </head>

    <body>

        <header>

            <img src="Todavía no la tengo xD" alt="Aqui va una imagen">
            <h1>GABRIEL HERRERA</h1>
            <h5>Estudiante ESPOL</h5>

        </header>

        <section>
            <h2> EXPERIENCIA </h2>
        </section>
        
        <section>
            <h2> EDUCACION </h2>
        </section>
        
        <section>
            <h2> CONTACTO </h2>

            <form id="FormularioContacto">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombres" required="required" />

                <br>
                <br>

                <label for="email"> Email: </label>
                <input type="text" id="email" name="email" required="required"/>

            </form>
        </section>
        
        <section>
            <h2> HABILIDADES</h2>

            <table>
                
                <tr>
                    <th> <img src="Aqui poner java" alt="Aqui va Java"></th>
                    <th> <img src="Aqui poner Python" alt="Aqui va Python"></th>
                    <th> <img src="Aqui poner JavaScript" alt="Aqui va Script"></th>
                </tr>
            </table>
        </section>
        

        <section>
            <h2> Encuentrame </h2>
        </section>
        

        

        
    </body>

</html>