.Contenedor-tabla, th{
    border: 1px solid black;
    align-self: center;
}

thead{
    background-color: grey;
    color:white;
}

tbody{
    background-color: bisque;
}

body{
    background-color: lightcyan;
}

img{
    max-width: 70px;
    max-height: 70px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nivel{
    padding-left: 20px;
    padding-right: 20px;
}

